*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to right, #E8A0BF,#0E8388);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-wrapper{
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper{
  border-radius: 10px;
  width: 25vw;
  border: 10px groove rgb(185, 183, 183);
}
.image-wrapper{
  border: 1px solid #ddd;
  image-orientation: flip;
  image-rendering: optimizeQuality;
}
.image-wrapper:hover {
  box-shadow: 0 0 10px 8px rgba(17, 17, 18, 0.5);
}
.name-title{
  font-size: 16px;
  font-family: monospace;
  font-weight: 600;
}
.card-text{
  font-size: 12px;
  font-family: monospace;
  font-weight: 400;
}