*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to right, #E8A0BF,#0E8388);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-wrapper{
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper{
  border-radius: 10px;
  width: 25vw;
  background-color: #B4E4FF;
}